<div class="container">
  <div style="text-align:center" class="">
    <div class="row">
      <div class="col-12">
        <h1>
          {{ title }}!
        </h1>
        <div class="alert-info"><p><span *ngIf="nbClick > 0"> {{nbClick}} clicks !</span></p>
          <p>{{nbPairs}} more pairs to discover !</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <p>First, choose a number of cards ! </p>
        <form [formGroup]="choiceNbCardsForm" (ngSubmit)="onSubmit(this.choiceNbCardsForm.value)">
          <div>
            <input id="16" type="radio" value="16" name="numberCards" formControlName="numberCards">
            <label for="16">16 Cartes</label>
          </div>

          <div>
            <input id="32" type="radio" value="32" name="numberCards" formControlName="numberCards">
            <label for="32">32 Cartes</label>
          </div>
          <button value="submit" class="btn btn-outline-info">Draw</button>
        </form>
      </div>
    </div>

  </div>
  <div class="row mt-5">
    <div *ngFor="let card of cards" class="flip-card col-4 col-lg-2">
      <span *ngIf="!card.found === true" class="link-card" (click)="clickCard(card)">
        <div class="flip-card-inner" id="card_{{card.id}}">
          <div class="flip-card-front">
            <img class="img-fluid carte" src="assets/img/blue_back.png" alt="" style="height: 75%;width: auto; background-color: white">
          </div>
          <div class="flip-card-back">
            <img class="img-fluid" src="assets/img/{{card.value}}{{card.type}}.png" alt="card" style="height: 75%;width: auto; background-color: white">
          </div>
        </div>
      </span>

      <span *ngIf="card.found === true" class="link-card">
           <img class="img-fluid" src="assets/img/{{card.value}}{{card.type}}.png" alt="card" style="height: 75%;width: auto; background-color: white">
      </span>

    </div>

  </div>
</div>

